/* On article edit page - when flickr search diable language radio buttons*/
input[type="radio"]:disabled+label {
	opacity: .40;
	filter: alpha(opacity = 50); /* IE<9 */
	cursor: default;
}

input[type="checkbox"]:disabled+label {
	opacity: .40;
	filter: alpha(opacity = 50); /* IE<9 */
	cursor: default;
}

/* ============================================================
  GLOBAL Add/Remove article edit page effects
============================================================ */
.effects .img {
	position: relative;
	float: left;
	overflow: hidden;
	vertical-align: middle;
	min-height: 150px;
}

.overlay {
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	display: block;
	position: absolute;
	z-index: 20;
	background: rgba(0, 0, 0, .8);
	overflow: hidden;
	transition: all 0.5s;
	text-align: center;
	font-size: 96px;
	line-height: 0.1em;
}

.overlay span {
	position: relative;
	top: 50%;
	text-align: center;
	color: rgba(255, 255, 255, .85);
	cursor: pointer;
}

.effects .img.hover .overlay {
	height: 100%;
}

.article_edit_single {
	display: inline-block;
	max-width: 95%;
}

.article_component {
	display: inline-block;
	max-width: 300px;
}

.article_component img {
	max-width: 300px;
}

#suggested_content_wrapper {
	display: inline-block;
	padding: 10px;
}

#loadMorePhotos {
	float: right;
}

.copyright {
	font-size: 1em;
}

/*===============================================*/
/* custom code */
/*================================================*/
.delete {
	background: url('../images/delete.png') no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.delete:active /* use Dot here */ {
	background: url('../images/delete.png') no-repeat;
}

.add {
	background: url('../images/add.png') no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.edit {
	text-decoration: underline;
	background-color:transparent;
	opacity: 1;
	color: #16a68f;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
}

.create_articles input[type=text] {
	padding: 0;
	margin: 0;
}

table tr td:last-child {
	text-align: right;
}

.user_management tr:first-child {
	color: #16a68f;
	font-weight: bold;
	text-align: center;
}

.create_articles, .news {
	border-collapse: collapse;
}

table.create_articles th, table.create_points th, table.news th {
	font-weight: bold;
}

table.create_articles td, table.create_articles th, table.create_points td,
	table.create_points th, table.news td, table.news th {
	border: 1px solid black;
	padding: 3px;
	margin: 0;
	text-align: left;
}

h6, .search_sources h3 {
	font-size: 0.875em;
	line-height: 1.5714285714285714;
	margin-bottom: 1.5714285714285714em;
}

.search_sources {
	width: 100%;
}

.search_sources ul {
	padding: 0 10px;
}

/*===============================================*/
/* START Timeline
/*===============================================*/

#add_position {
	width: 100px;
}
/*===============================================*/
/* END Timeline
/*===============================================*/

/*===============================================*/
/* START Tabs for media finding
/*===============================================*/
.tabs {
	width: 100%;
	display: inline-block;
	padding: 40px 0;
}

.tabs input, .tabs select, .tabs textarea {
	border: 1px solid #edebeb !important;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}

.tab-links li {
	margin: 0 10px 0 0;
	float: left;
	list-style: none;
}

.tab-links a {
	padding: 9px 15px;
	display: inline-block;
	border-radius: 3px 3px 0px 0px;
	background: #7FB5DA;
	font-size: 16px;
	font-weight: 600;
	color: #4c4c4c;
	transition: all linear 0.15s;
}

.tab-links a:hover {
	background: #a7cce5;
	text-decoration: none;
}

.tabs li.active a, .tabs li.active a:hover {
	background: #fff;
	color: #4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding: 15px;
	border-radius: 3px;
	background: #fff;
}

.tab {
	display: none;
}

.tab.active {
	display: block;
}
/*===============================================*/
/* END Tabs for media finding
/*===============================================*/