@CHARSET "UTF-8";

/*===============================================*/
/* Steal css from mesch authoring tool */
/*================================================*/
@font-face {
	font-family: 'avenir_book';
	src: url("../fonts/AvenirLTStd-Book.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenir_medium';
	src: url("../fonts/AvenirLTStd-Medium.otf");
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video, button, input,
	textarea, select, main {
	border: 0 solid;
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}

.button {
	background: none repeat scroll 0 0 #16a68f;
	border: 3px solid #16a68f;
	color: #fff !important;
	margin: 10px 0;
	padding: 0.5em 1em;
	font-size: 1.3em;
	cursor: pointer;
	display: inline-block;
}

input[type=text], input[type=number] {
	margin-bottom: 1em;
	padding: 0.5em 1em;
	font-size: 1.3em;
	line-height: 1.5;
	border: 1px solid #edebeb;
}

select {
	margin-bottom: 1em;
	padding: 0.5em 1em;
	font-size: 1.3em;
	line-height: 1.5;
	background-color: #ffffff;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: 'avenir_book', sans-serif;
	background: #ececec;
}

.outside {
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'avenir_medium', serif;
}

h1 {
	font-size: 2.625em;
	line-height: 1.0476190476190477;
	margin-bottom: 0.5238095238095238em;
}

h2 {
	font-size: 1.96875em;
	line-height: 1.39683;
	margin-bottom: 0.698413em;
}

p, blockquote {
	font-size: 1.3125em;
	margin: 0 0 1.5714285714285714em;
	line-height: 1.5714285714285714;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

ol, ul {
	list-style: none;
}

dd, dt, li {
	line-height: 1.3;
	margin: 0;
}

a {
	text-decoration: none;
	opacity: 1;
	color: #16a68f;
	background-color: inherit;
	transition: opacity 0.3s ease-in-out;
}

.right {
	float: right;
}

.left {
	float: left;
}

nav {
	position: relative;
	min-height: 80px;
}

nav li {
	display: inline-block;
	display: -moz-inline-box; /* for FF2 */
	*display: inline; /* for IE6 and IE7 */
	background: #fff;
}

.navigation {
	background: #fff;
	font-size: 1.3em;
	padding: 0 1.875em;
	margin: 0;
	width: 100%;
	overflow: hidden;
}

.navigation a {
	padding: 1.25em 0;
}

.navigation li {
	margin-right: 1.25em;
	padding: 1.25em 0;
}

.icon-mesch {
	background: url('../images/mesch_16a68f.png') no-repeat left top;
	display: inline;
}

.login-logo {
	background: url('../images/loginlogo.png') no-repeat left top;
	height: 104px;
	width: 280px;
	display: block;
	margin: 0 auto;
}

/*******************************
/* end steal style */
/********************************/
.breadcrumbs {
	color: #fff;
	background: none repeat scroll 0 0 #323232;
	padding: 5px;
	padding: 0.5em 2.5em;
}

.breadcrumbs a, .breadcrumbs button {
	text-decoration: underline;
	color: #fff;
	background: #323232;
	cursor: pointer;
}

.container {
	margin: 0 !important;
	padding: 4% !important;
	border: none !important;
}

.container h2 {
	border-bottom: 1px solid #323232;
}

.site_map ul {
	padding: 0 30px !important;
}

.site_map li {
	list-style-type: square;
	padding: 0 10px !important;
}

.language form {
	margin-right: 1.25em;
	padding: 1em 0;
}

.language select {
	margin: 0;
	padding: 3px;
	color: #16a68f;
	border: 1.5px solid #c4c4c4;
	font-size: 0.9em;
	background-color: #fff;
}

.footer {
	padding: 2em 1.875em;
	text-align: center;
	border-top: 1px solid #c4c4c4;
}

.footer a {
	font-size: 1.2em;
}

.language {
	float: right;
	font-size: 1.1em;
}

/* feedback boxes */
.feedback {
	padding: 30px;
	border: none;
	margin: 0;
}

.feedback.success {
	color: #558f2d;
	background-color: #ddf2c0;
}

.feedback.error {
	color: #ff7272;
	background-color: #ffe5e5;
}

.feedback.warning {
	color: #FF6600;
	background-color: #FFD683;
}

.feedback.info {
	color: #ffffff;
	background-color: #7f3f98;
}

/* error page */
.red-text {
	color: red;
}

/* login screen */
.login-page-box {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #c4c4c4;
	margin-top: 20px;
	background-color: #eeeeee;
}

.login-page-box  label {
	color: #777;
	font-size: 1em;
	line-height: 1.8em;
}

.login-box {
	display: block;
	margin: 0;
	color: #666;
	padding: 20px 40px 20px 40px;
	box-sizing: border-box;
	font-weight: 400;
	background-color: #eeeeee;
	width: 100%;
}

.login-box h2 {
	color: #252525;
	border: none;
}

.login-box input[type="text"], .login-box input[type="password"] {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	padding: 15px 20px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.login-box input[type="submit"] {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #4cffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
		rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
		rgba(0, 0, 0, 0.2);
	color: #ffffff;
	border: 2px solid #777;
	padding: 5px 20px;
	margin-bottom: 10px;
	display: block;
	background-color: #757575;
	text-decoration: none;
	float: center;
	text-align: center;
	display: block;
	font-weight: bold;
}

.login-box .button {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #5c7227;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
		rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
		rgba(0, 0, 0, 0.2);
	color: #ffffff;
	padding: 5px 20px;
	background-color: #8eaf3c;
	text-decoration: none;
	float: center;
	text-align: center;
	margin-top: 10px;
	display: block;
	font-weight: bold;
}

.login-box input[type="submit"]:hover {
	color: #fff;
	border-color: #252525;
	background-color: #252525;
}

.login-box .link-forgot-my-password {
	display: block;
	text-align: right;
}

.login-box .link-forgot-my-password a {
	color: #666;
	font-size: 1em;
	text-decoration: underline;
}

.login-box ::-webkit-input-placeholder {
	color: #777;
	opacity: 0.5;
}

.login-box ::-moz-placeholder {
	color: #777;
	opacity: 0.5;
}

.login-box :-ms-input-placeholder {
	color: #777;
	opacity: 0.5;
}

.login-box input:-moz-placeholder {
	color: #777;
	opacity: 0.5;
}

/******************************************************/
/*		Start brick masonry style theme
/******************************************************/
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),
		url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2)
		format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2)
		format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2)
		format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2)
		format('woff2');
}

.html {
	background: transparent;
	height: 100%;
}

.visualisations a img {
	border: none;
}

.visualisations a {
	color: inherit;
	text-decoration: none;
}

.visualisations h2 {
	margin: 0px;
}

.visualisations_container {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 25px;
	margin-top: 25px;
	position: relative;
	width: 1280px;
	font-family: 'Roboto', 'Arial', 'sans-serif';
	font-weight: 400;
	font-size: 13px;
}

.visualisations {
	margin: 0px auto;
	position: relative;
	display: block;
	width: 1280px;
	font-family: 'Roboto', 'Arial', 'sans-serif';
	font-weight: 400;
	font-size: 13px;
}

.box {
	color: #333;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	padding-bottom: 0px;
	position: relative;
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 24px;
	border-radius: 3px;
	font-family: 'Roboto', 'Arial', 'sans-serif' !important;
	font-weight: 400;
	font-size: 13px;
}

.box_inner {
	overflow: hidden;
	border-radius: 3px;
}

.box.double {
	width: 620px;
}

.double {
	width: 620px;
}

.box_double_image {
	width: 620px;
	max-height: 350px;
}

.box_single_image {
	width: 310px;
	height: 350px;
	max-height: 350px;
	min-height: 350px;
}

.exhibition, .magazine, .timeline {
	height: 500px;
}

.visualisations .box.text .box_inner p {
	padding: 0px 20px 0px 20px;
}

.visualisations .box.text .box_inner h2, .box_inner h3 {
	padding: 10px 20px;
	border: 0;
}

.box.text.image_on.title_on h2, .box.text.title_on h2 {
	padding: 0px 20px;
}

.visualisations .box.text .box_inner img {
	margin-bottom: 12px;
}

.box h2 {
	line-height: 28px;
	font-weight: 500;
	font-size: 19px;
	font-family: "Roboto", "Arial", "sans-serif";
}

.box h2.text_title {
	margin-top: 16px;
	margin-bottom: 12px;
}

.box h3.news_header {
	margin-top: 16px;
	color: #555;
	display: block;
	font-weight: 400;
	line-height: 26px;
	font-family: "Roboto", "Arial", "sans-serif";
	font-size: 15px;
}

.box h2.text_title:hover {
	color: #aaa;
}

.box p {
	color: #555;
	line-height: 26px;
	margin: 0px;
	font-size: 13px;
	font-weight: 400 !important;
}

.box .info_bar {
	background: inherit;
	color: #000;
	font-size: 12px;
	font-weight: 400;
	position: relative;
	bottom: 0px;
}

.box img {
	max-width: 100%;
}

.box_passcode {
	float: left;
	color: #333;
	width: auto !important;
	opacity: .6;
	font-size: 10px;
	padding: 20px 10px;
}

.box_date {
	color: #333;
	opacity: .6;
	float: right;
	width: auto !important;
	font-size: 13px;
	padding: 20px 20px;
}

@media screen and (max-width: 320px) and (min-width: 0px) {
	.visualisations_container, .visualisations {
		width: 270px !important;
	}
	.visualisations_container {
		padding-left: 0px;
	}
	.box {
		width: 270px !important;
	}
}

/* Display 1 column */
@media screen and (max-width: 670px) and (min-width: 321px) {
	.visualisations_container, .visualisations {
		width: 300px !important;
	}
	.visualisations_container {
		padding-left: 0px;
	}
	.box {
		width: 300px !important;
	}
}

@media screen and (max-width: 670px) and (min-width: 500px) {
	.visualisations_container, .visualisations {
		width: 460px !important;
	}
	.box {
		width: 460px !important;
	}
}
/* Display 2 columns */
@media screen and (max-width: 1024px) and (min-width: 670px) {
	.visualisations_container, .visualisations {
		width: 640px;
	}
}
/* Display 3 columns */
@media screen and (max-width: 1280px) and (min-width: 1024px) {
	.visualisations_container, .visualisations {
		width: 960px;
	}
}
/* Display More columns */
@media screen and (min-width: 1600px) {
	.visualisations_container, .visualisations {
		width: 95%;
	}
}

.photoset-grid {
	width: 100%;
}

.photoset-row {
	clear: left;
	display: block;
	overflow: hidden;
	margin: 0;
}

.photoset-cell {
	float: left;
	display: block;
	line-height: 0;
	box-sizing: border-box;
}

.photoset-cell_halfwidth1 {
	width: 50%;
	padding-right: 3.5px;
}

.photoset-cell_halfwidth2 {
	width: 50%;
	padding-left: 3.5px;
}

.photoset-cell_fullwidth {
	width: 100%;
}

.photoset-cell_fullwidth img {
	width: 100%;
	min-height: 300px;
	margin-bottom: 7px !important;
}

.photoset-cell_halfwidth1 img, .photoset-cell_halfwidth2 img {
	width: 100%;
	height: 200px;
	margin-bottom: 7px !important;
}

.photoset-cell_thirdwidth_first {
	width: 33.3%;
	padding-right: 3.5px;
}

.photoset-cell_thirdwidth_second {
	width: 33.3%;
	padding-left: 3.5px;
	padding-right: 3.5px;
}

.photoset-cell_thirdwidth_third {
	width: 33.3%;
	padding-left: 3.5px;
}

div[class^='photoset-cell photoset-cell_thirdwidth'] img {
	width: 100%;
	height: 100px;
}

.box.quote .box_inner p {
	padding: 120px 20px;
}

.box.quote .box_inner {
	background: #222;
}




.box.quote p {
	color: #ddd;
	font-size: 54px;
	line-height: 50px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

.smaller {
	font-size: 44px !important;
}

/******************************************************/
/*		End brick masonry style theme
/******************************************************/

/*****************************************************/
/*    Panels of articles for user magazine view        */
/*****************************************/
.suggested {
	border: 5px solid orange;
}

.centered-and-cropped {
	object-fit: cover;
}

.panels {
	background-color: #ffffff;
}

.panels h1 {
	padding: 0 1em;
	text-align: center;
}

.panel {
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	margin-bottom: 5px;
}

.panel_content {
	position: relative;
	height: 250px;
	width: 675px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.panel h3 {
	padding: 0;
	margin: 0;
}

.panel_content img {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

.nofloat img {
	float: none;
}

.suggested .over_image_header {
	background-color: orange;
	color: #000;
}

.over_image_header {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #000;
	color: #fff;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	display: inline;
	padding: 0.5rem;
	opacity: 0.75;
}

.text_fillall h3, .text_fillhalf h3, .text_fillthird h3, .panel_5_text1 h3
	{
	padding: 0.5rem;
}

.popup {
	padding: 10px;
	margin: 0;
}

/* normalise text output when have pop-up */
.popup div[class^='panel_5_text'], .popup div[class^='text_fill'] {
	position: relative;
	top: auto;
	left: auto;
	bottom: auto;
	max-height: none;
	width: 100%;
	padding: 8px 5px;
	border: none;
	margin: 0px;
	height: auto;
	border: none;
	max-width: none;
}

.popup h3 {
	padding: 0;
	margin: 0;
}

/* Special cases for panel text and images */
.inline {
	text-decoration: none;
	color: #000000;
}

/* panel for 1 item */
.text_fillall {
	overflow: hidden;
}

.image_fillall {
	height: 270px;
	width: 675px;
}

.image_fillhalf {
	height: 250px;
	width: 50%;
}

.image_fillthird {
	height: 250px;
	width: 33.3%;
}

/* panel for 2 items */
.text_fillhalf {
	width: 50%;
	overflow: hidden;
	float: left;
}

/* panel for 3 items */
.text_fillthird {
	width: 33.33%;
	overflow: hidden;
	float: left;
}

.text_fillthird_halfheight {
	height: 125px;
	overflow: hidden;
	border-bottom: 1px dashed black;
	padding-bottom: 5px;
}

/* Panel with 5 pieces of content */
.panel_5_text1 {
	height: 100%;
	width: 266px;
	float: left;
	padding: 2px;
	margin: 0px;
}

.panel_4_4 {
	float: right;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 250px;
	width: 226px;
}

.panel_5_text1:before {
	background: linear-gradient(transparent, transparent 100px, #fff);
}

.panel_5_text2, .panel_5_text3, .panel_5_text4 {
	max-height: 106px;
	max-width: 131px;
	overflow: hidden;
	float: left;
	padding: 2px;
}

.panel_5_text5 {
	height: 136px;
	width: 401px;
	position: absolute;
	bottom: 0px;
	left: 270px;
	overflow: hidden;
	padding: 2px;
}

.image_fillthird_halfheight {
	height: 125px;
	width: 226px;
}

#animal_path {
	height: 500px;
	width: 100%;
}

/*  Start lego man visualisation */
#imageHolder {
	overflow: auto;
}

div.swatch {
	font-size: 0.7em;
	height: 40px;
	width: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
	color: #FFF;
}

#colorcodes {
	width: 500px;
	float: left;
}

.character {
	width: 500px;
	float: right;
}
/* End lego man visualisation */
.unseen_image {
	max-width: 500px;
	display: block;
	margin: 0 auto;
}

/* Smartphones ----------- */
@media only screen and (max-width: 765px) {
	.panel_content {
		width: 100%;
		height: auto;
	}
	nav li {
		display: inline-block;
		width: 100%;
	}
	.right, .left {
		float: none;
	}

	/* reset all panel items especially widths to 100% */
	.panel div[class^='panel_5_'], .text_fillthird,
		.image_fillthird_halfheight, .panel_4_4, .panel div[class^='text_fill'],
		.panel div[class^='image_fill'] {
		width: 100%;
		overflow: visible;
		float: none;
		position: static;
		max-height: none;
		max-width: none;
		padding: 0;
		bottom: 0;
		top: auto;
		height: auto;
		left: 0;
		border: 0;
		display: inline;
	}
	.panel_content img {
		display: inline;
		width: 100%;
		height: auto;
	}
}

/* START grid visuaisation */
#grid {
	/* Prevent vertical gaps */
	line-height: 0;
	-webkit-column-count: 6;
	-webkit-column-gap: 0px;
	-moz-column-count: 6;
	-moz-column-gap: 0px;
	column-count: 6;
	column-gap: 0px;
}

#grid img {
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
	padding: 3px
}

.grid_image {
	max-width: 300px;
	position: relative;
}

.grid_image h2 {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
}

.grid_image h2 span {
	color: #fff;
	font: bold 0.9em Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	margin-left: 3px;
}

.grid_image>h2 span a {
	color: #fff;
}

.grid_edit_image {
	max-width: 300px;
	width: 300px;
	padding: 3px;
	float: left;
}

.grid_edit_image img {
	width: 100%;
}
/* END grid visuaisation */
.bubble_content, .grid_content, .passbook_content {
	padding: 15px;
	height: auto;
}

.search_sources h3 {
	padding-bottom: 15px;
}

.hidden {
	display: none;
}

.bold {
	font-weight: bold;
}

.move_offscreen {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	font-weight: bold;
}

.screenreader {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	position: absolute !important;
}

.profile li {
	padding: 20px 0;
}

.profile li a {
	font-size: 1.5em;
	text-decoration: underline;
}

.read_more {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #2d9cf9;
	border-radius: 4px;
	color: #2d9cf9;
	display: inline-block;
	margin-left: 20px;
	margin-right: 10px;
	padding: 10px 16px;
}

/* START New version of book used for stamp visualisation and photo album visualisation */
#book {
	background: url("../images/book.png") no-repeat;
	position: relative;
	width: 830px;
	height: 520px;
	display: inline-block;
}

#pages section {
	background: url("../images/paper.png") no-repeat;
	display: block;
	width: 400px;
	height: 500px;
	position: absolute;
	left: 415px;
	top: 5px;
	overflow: hidden;
	margin-top: 5px;
}

#pages section>div {
	display: block;
	width: 400px;
	height: 500px;
	font-size: 12px;
}

#pages section p, #pages section h2 {
	padding: 3px 35px;
	line-height: 1.4em;
	text-align: center;
	border-bottom: none;
}

#pages section h2 {
	margin: 15px 0 10px;
}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}

figcaption {
	display: inline-block;
	float: right;
	text-align: left;
	position: relative;
	width: 35%;
	margin: 0;
}

figcaption span {
	color: #16a085;
	padding: 0.6em 0 1em 0;
	display: block;
}

figcaption p {
	color: #63707d;
	line-height: 1.3;
}

img[class^='stamp'] {
	height: 160px;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

.stamp1 {
	top: 30px;
	left: 30px;
}

.stamp2 {
	top: 140px;
	left: 180px;
}

.stamp3 {
	bottom: 50px;
	left: 40px;
}

.stamp4 {
	top: 145px;
	left: 60px;
}

.stamp5 {
	bottom: 30px;
	left: 190px;
}

.stamp6 {
	top: 40px;
	right: 200px;
}

.stamp7 {
	top: 40px;
	right: 60px;
}

.stamp8 {
	top: 160px;
	right: 40px;
}

.stamp9 {
	top: 190px;
	right: 180px;
}

.stamp10 {
	top: 290px;
	right: 80px;
}

.book_image {
	max-height: 400px;
	margin: 0 auto;
	max-width: 100%;
	display: block;
	margin: auto;
	padding: 50px 20px 20px 20px;
}

.disabled_image {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.3;
}

/* END New version of book */