@CHARSET "UTF-8";

.main_page {
	-webkit-backface-visibility: hidden;
}

.main_page #timeline {
	padding: 35px 20px;
	position: relative;
}

#timeline_header {
	padding: 25px 0 10px;
	-webkit-backface-visibility: hidden; margin : 0; padding : 0; width :
	100%; height : 100%; /* Required for android default browser */
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; /* Not supported by Android default browser */
}

#timeline_header:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: #000;
	z-index: 1;
}

.main_page #timeline_header .header {
	z-index: 10;
	text-align: center;
	width: 100%;
	color: #fff;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.main_page #timeline_header .header * {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.main_page #timeline_header .header .cm-logo {
	display: inline-block;
	margin-bottom: 50px;
}

@media only screen and (min-width:768px) {
	.main_page #timeline_header .header .cm-logo {
		margin-bottom: 60px;
	}
}

.main_page #timeline_header .header .cm-logo span {
	display: inline-block;
	width: 150px;
}

@media only screen and (min-width:768px) {
	.main_page #timeline_header .header .cm-logo span {
		width: 210px;
	}
}


@media screen and (min-height:600px){
	.main_page #timeline_header {
	min-height:600px;
	width:100%;
	border:3px solid #777777;
	}
}


@media screen and (max-height:650px) and (min-width:1239px) {
	.main_page #timeline_header .header .cm-logo span {
		width: 170px;
	}
}

.main_page #timeline_header .header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 1em;
	text-shadow: none;
	margin-bottom: 60px;
	font-size: 14vw;
	position: relative;
}

@media screen and (max-height:650px) and (min-width:1239px) {
	.main_page #timeline_header .header .button {
		font-size: 20px;
		height: 55px;
		line-height: 55px;
	}
}

@media only screen and (min-width:768px) {
	.main_page #timeline {
		padding: 64px 20px;
		margin: 30px 0;
	}
}

.main_page #timeline main {
	margin: auto;
	padding: 40px 0;
	-webkit-backface-visibility: hidden;
}

@media only screen and (min-width:768px) {
	.main_page #timeline main {
		padding: 100px 0;
	}
}

.timeline-bar {
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #a69d92;
	left: 50%;
}

@media only screen and (min-width:768px) {
	.main_page #timeline main .timeline-bar {
		left: 50%;
		margin-bottom: -6px;
	}
}

.main_page #timeline main .timeline-bar:after, .main_page #timeline main .timeline-bar:before
	{
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	left: 50%;
	margin-left: -6px;
	background-color: #a69d92;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.main_page #timeline main .timeline-bar:before {
	top: -6px;
}

.main_page #timeline main .timeline-bar:after {
	bottom: -6px;
}

.main_page #timeline main .timeline-block {
	position: relative;
	padding-left: 40px;
	margin-bottom: 35px;
	*zoom: 1;
}

.main_page #timeline main .timeline-block:after, .main_page #timeline main .timeline-block:before
	{
	display: table;
	content: "";
	line-height: 0;
}

.main_page #timeline main .timeline-block:after {
	clear: both;
}

@media only screen and (min-width:768px) {
	.main_page #timeline main .timeline-block {
		padding-left: 0;
		margin-bottom: 55px;
	}
}

.main_page #timeline main .timeline-block:last-child {
	margin-bottom: 0;
}

.main_page #timeline main .timeline-block:before {
	content: "";
	position: absolute;
	left: -7px;
	top: 8px;
	width: 10px;
	height: 10px;
	background-color: #5C554B;
	border: 4px solid #D9D4CC;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

@media only screen and (min-width:768px) {
	.main_page #timeline main .timeline-block:before {
		top: 14px;
		left: 50%;
		margin-left: -7px;
	}
}

@media only screen and (min-width:768px) {
	.main_page #timeline main .timeline-block .timeline-date {
		float: right;
		width: 50%;
		padding: 0 40px;
	}
}

.main_page #timeline main .timeline-block .timeline-date p {
	display: inline-block;
	position: relative;
	background: #a69d92;
	color: #fff;
	font-family: museo-sans, sans-serif;
	font-size: 16px;
	font-weight: 300px;
	line-height: 34px;
	height: 34px;
	margin: 0 0 10px;
	padding: 0 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

@media only screen and (min-width:768px) {
	.main_page #timeline main .timeline-block .timeline-date p {
		font-size: 22px;
		line-height: 46px;
		height: 46px;
		padding: 0 18px;
	}
}

.main_page #timeline main .timeline-block .timeline-date p:after {
	position: absolute;
	right: 100%;
	top: 50%;
	content: "";
	height: 0;
	width: 0;
	pointer-events: none;
	border: solid transparent;
	border-color: rgba(166, 157, 146, 0);
	border-right-color: #a69d92;
	border-width: 10px;
	margin-top: -10px;
}

@media only screen and (min-width:768px) {
	.main_page #timeline main .timeline-block .timeline-content {
		float: left;
		width: 50%;
		text-align: right;
		padding: 0 35px 0 0;
	}
}

.main_page #timeline main .timeline-block .timeline-content h2 {
	font-family: museo-sans, sans-serif;
	background: #fff;
	color: #5C554B;
	font-size: 16px;
	height: auto;
	line-height: 1em;
	font-weight: 500;
	padding: 15px 10px 0;
	margin: 0;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0
}

@media only screen and (min-width:768px) {
	.main_page #timeline main .timeline-block .timeline-content h2 {
		display: inline-block;
		background: #343330;
		color: #fff;
		font-size: 30px;
		height: 60px;
		line-height: 60px;
		padding: 0 20px;
		margin: -6px 0 18px 0;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px
	}
}

@media only screen and (min-width:768px) and (max-width:979px) {
	.main_page #timeline main .timeline-block .timeline-content h2 {
		font-size: 18px
	}
}

@media only screen and (min-width:980px) and (max-width:1239px) {
	.main_page #timeline main .timeline-block .timeline-content h2 {
		font-size: 25px
	}
}

.main_page #timeline main .timeline-block .timeline-content .description
	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	background: #fff;
	color: #5C554B;
	padding: 10px;
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	-webkit-box-shadow: 0 3px 0 rgba(193, 185, 174, .41), transparent 0 0 0,
		transparent 0 0 0;
	box-shadow: 0 3px 0 rgba(193, 185, 174, .41), transparent 0 0 0,
		transparent 0 0 0;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px
}

@media only screen and (min-width:768px) {
	.main_page #timeline main .timeline-block .timeline-content .description
		{
		font-size: 16px;
		line-height: 25px;
		padding: 40px 35px;
		text-align: right;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px
	}
}

@media only screen and (min-width:768px) {
	.main_page #timeline main .timeline-block:nth-child(odd) .timeline-date
		{
		float: left;
		text-align: right;
		padding-right: 35px
	}
	.main_page #timeline main .timeline-block:nth-child(odd) .timeline-date p:after
		{
		right: auto;
		left: 100%;
		top: 50%;
		border: solid transparent;
		border-color: rgba(136, 183, 213, 0);
		border-left-color: #a69d92;
		border-width: 10px;
		margin-top: -10px
	}
	.main_page #timeline main .timeline-block:nth-child(odd) .timeline-content
		{
		float: right;
		text-align: left;
		padding: 0 0 0 40px
	}
	.main_page #timeline main .timeline-block:nth-child(odd) .timeline-content .description
		{
		text-align: left
	}
}

@media only screen and (min-width:980px) {
	.main_page #timeline main .timeline-block.is-hidden .timeline-content,
		.main_page #timeline main .timeline-block.is-hidden .timeline-date,
		.main_page #timeline main .timeline-block.is-hidden:before {
		visibility: hidden
	}
}

.main_page #footer {
	position: relative;
	height: auto;
	text-align: center;
	background: #857f77;
	color: #d9d4cc;
	padding: 50px 0 30px;
	margin-top: 30px
}

@media only screen and (min-width:768px) {
	.main_page #footer {
		margin-top: 100px;
		padding: 100px 0 50px
	}
}

.main_page #footer:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -20px 0 0 -25px;
	background: url(/images/1/one-million-users/cm-tag.png);
	background-size: 100%
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.main_page #footer:before {
		background-image: url(/images/1/one-million-users/cm-tag@2x.png)
	}
}

@media only screen and (min-width:768px) {
	.main_page #footer:before {
		width: 77px;
		height: 77px;
		margin: -38px 0 0 -38px
	}
}

.main_page #footer .footer-wrapper {
	margin: 0 auto;
	max-width: 670px;
	padding: 0 20px
}

.main_page #footer h2 {
	font-family: museo-sans, sans-serif;
	font-size: 35px;
	font-weight: 300;
	line-height: 1em;
	color: #fff;
	margin-bottom: 20px;
}

@media only screen and (min-width:768px) {
	.main_page #footer h2 {
		font-size: 50px;
	}
}

.main_page #footer h3 {
	font-family: museo-sans, sans-serif;
	color: #fff;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	max-width: 325px;
	margin: 0 auto 28px
}

@media only screen and (min-width:768px) {
	.main_page #footer h3 {
		font-size: 30px;
		line-height: 38px;
		max-width: 405px;
		margin: 0 auto 20px
	}
}

.main_page #footer p {
	margin: 0 auto 20px
}

@media only screen and (min-width:768px) {
	.main_page #footer p {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 26px
	}
}

.main_page #footer p.small {
	font-size: 12px;
	line-height: 16px;
	color: #524e49;
	margin: 0 auto;
	max-width: 395px
}

.main_page #footer .share-wrapper {
	margin-bottom: 45px
}

@media only screen and (min-width:768px) {
	.main_page #footer .share-wrapper {
		margin-bottom: 100px
	}
}

.main_page #footer .share-wrapper p {
	margin-bottom: 25px
}

@media only screen and (min-width:768px) {
	.main_page #footer .share-wrapper p {
		margin-bottom: 40px
	}
}

.main_page #footer .share-buttons a {
	display: inline-block;
	margin: 0 3px
}

@media only screen and (min-width:768px) {
	.main_page #footer .share-buttons a {
		margin: 0 7px
	}
}

.main_page .button {
	font-size: 16px;
	font-family: museo-sans, sans-serif;
	font-weight: 300;
	display: block;
	max-width: 315px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background: #89a452;
	color: #fff;
	margin: 0 auto;
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

@media only screen and (min-width:768px) {
	.main_page .button {
		max-width: none;
		display: inline-block;
		font-size: 24px;
		height: 63px;
		line-height: 63px;
		margin: 0;
		padding: 0 20px
	}
}

.main_page .button:hover {
	background: #86BB49
}

.main_page .fade-in-up {
	-webkit-animation-name: fade-in-up;
	-moz-animation-name: fade-in-up;
	-o-animation-name: fade-in-up;
	animation-name: fade-in-up;
	-webkit-animation-duration: .8s;
	-moz-animation-duration: .8s;
	-ms-animation-duration: .8s;
	-o-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both
}

.timeline-content .bold {
	font-family: 'avenir_medium', serif;
	font-weight: bold;
	font-size: 1.2em;
}

.timeline_image_preview {
	max-height: 200px;
	max-width: 200px;
	display: inline;
	vertical-align: middle;
}
