<div class='panel'>
   	<div class='panel_content {% if suggested %} suggested {% endif %}'>
   		<div>
   		
   		{% if image1 %}
   			<div class='over_image_header'><h3>{{ title|e('html') }}</h3></div>
			<a href="{{ image1|e('html') }}" class='group1' title='{{license1|e('html')}}' ><img class="image_fillhalf centered-and-cropped" src='{{ image1|e('html') }}' ></a>
		{% elseif text1 %}
			<a class='inline' href="#inline_content"  title='{{license1|e('html')}}'>
			<div class='text_fillhalf'><h3>{{ title|e('html') }}</h3> {{text1|e('html')}}</div>
			</a>
		{% endif %}
		{% if image2 %}
			<a href="{{ image2|e('html') }}" class='group1' title='{{license2|e('html')}}' ><img class="image_fillhalf centered-and-cropped" src='{{ image2|e('html') }}' ></a>
		{% elseif text2 %}
			<a class='inline' href="#inline_content" title='{{license2|e('html')}}'>
			<div class='text_fillhalf'>{{text2|e('html')}}</div>
			</a>
		{% endif %}
  		</div>
  	</div>
</div>