<div class="panel ">
   	<div class='panel_content {% if suggested %} suggested {% endif %}'>
   			{% if image1 %}
   				<div class='over_image_header'><h3>{{ title }}</h3></div>
   				<a href="{{ image1|e('html') }}" class='group1' title='{{license1|e('html')}}' ><img class="centered-and-cropped" src='{{ image1|e('html')}}' height="250" width="40%"></a>
   			{%elseif text1%}
   				<a class='inline' href="#inline_content" title='{{license1|e('html')}}'>
   					<div class='panel_5_text1'><h3>{{ title|e('html') }}</h3>{{text1|e('html')}}</div>
   				</a>
   			{% endif %}
   			
   			{% if image2 %}
   				<a href="{{ image2|e('html') }}" class='group1' title='{{license2|e('html')}}' ><img class="centered-and-cropped" src='{{ image2|e('html') }}' height='110' width='20%'></a>
   			{% elseif text2 %}
   				<a class='inline' href="#inline_content" title='{{license2|e('html')}}'>
   					<div class='panel_5_text2'>{{text2|e('html')}}</div>
   				</a>
   			{% endif %}
			
			{% if image3 %}
				<a href="{{ image3|e('html') }}" class='group1' title='{{license3|e('html')}}' ><img class="centered-and-cropped" src='{{ image3|e('html') }}' height='110' width='20%'></a>
			{% elseif text3 %}
				<a class='inline' href="#inline_content" title='{{license3|e('html')}}'>
					<div class='panel_5_text3'>{{text3|e('html')}}</div>
				</a>
   			{% endif %}
			
			{% if image4 %}
				<a href="{{ image4|e('html') }}" class='group1' title='{{license4|e('html')}}' ><img class="centered-and-cropped" src='{{ image4|e('html') }}' height='110' width='20%'></a>
			{% elseif text4 %}
				<a class='inline' href="#inline_content" title='{{license4|e('html')}}'>
					<div class="panel_5_text4">{{text4|e('html')}}</div>
				</a>
   			{% endif %}
   			
   			{% if image5 %}
   				<a href="{{ image5|e('html') }}" class='group1' title='{{license5|e('html')}}' ><img class="centered-and-cropped" src='{{ image5|e('html') }}' height='140' width='60%'></a>
			{% elseif text5 %}
				<a class='inline' href="#inline_content" title='{{license5|e('html')}}'>
   					<div class='panel_5_text5'>{{text5|e('html')}}</div>
   				</a>
   			{% endif %}
  	</div>
</div>
