<div class='panel'>
   	<div class='panel_content {% if suggested %} suggested {% endif %}'>
   			{% if image1 %}
   				<div class=over_image_header><h3>{{ title|e('html') }}</h3></div>
   				<a href="{{ image1|e('html') }}" class='group1' title='{{license1|e('html')}}' ><img class="image_fillthird centered-and-cropped" src='{{ image1|e('html')}}' ></a>
   			{%elseif text1%}
   				<a class='inline' href="#inline_content" title='{{license1|e('html')}}'>
   					<div class='text_fillthird'><h3>{{ title|e('html') }}</h3>{{text1|e('html')}}</div>
   				</a>
   			{% endif %}
   			{% if image2 %}
   				<a href="{{ image2|e('html') }}" class='group1' title='{{license2|e('html')}}' ><img class="image_fillthird centered-and-cropped" src='{{ image2|e('html') }}' ></a>
   			{% elseif text2 %}
   				<a class='inline' href="#inline_content" title='{{license2|e('html')}}'>
   					<div class='text_fillthird'>{{text2|e('html')}}</div>
   				</a>
   			{% endif %}
			
			{% if image3 %}
				<a href="{{ image3|e('html') }}" class='group1' title='{{license3|e('html')}}' ><img class="image_fillthird centered-and-cropped" src='{{ image3|e('html') }}' ></a>
			{% elseif text3 %}
				<a class='inline' href="#inline_content" title='{{license3|e('html')}}'>
					<div class='text_fillthird'>{{text3|e('html')}}</div>
				</a>
   			{% endif %}
  	</div>
</div>